<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamecodeschool.aesopsfables">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TheLionAndTheBoar"
            android:label="@string/title_activity_the_lion_and_the_boar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheMischievous"
            android:label="@string/title_activity_the_mischievous"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheCockAndTheJewel"
            android:label="@string/title_activity_the_cock_and_the_jewel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheCatMaidenFable"
            android:label="@string/title_activity_the_cat_maiden_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheLionInLoveFable"
            android:label="@string/title_activity_the_lion_in_love_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheLionShareFable"
            android:label="@string/title_activity_the_lion_share_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheBoysAndTheFrogs"
            android:label="@string/title_activity_the_boys_and_the_frogs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssBrainsFable"
            android:label="@string/title_activity_the_ass_brains_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".AndroclesFables"
            android:label="@string/title_activity_androcles_fables"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheOldHound"
            android:label="@string/title_activity_the_old_hound"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>